html{
  background-color: rgba(17,69,62,0.85);
}
.App{
  background-color: rgba(1,23,19,0.91);
  /*margin-left: 20%;*/
  margin:40px ;
  padding: 30px;
}
div{
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}
label{
  color: aliceblue;
  font-weight: bold;
  margin-right: 10px;
  font-family: "Gotham Pro Medium", sans-serif ;
}
input {
  border-color: black;
  border-radius: 10px;
}
button{
  color: white;
  background-color: black;
  font-family: "Gotham Pro Medium", sans-serif ;
  margin-right: 15px;
  border-radius: 10px;
  border-color: aliceblue;
}

.res{
  color: aliceblue;
}
